<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
</head>
<body>
	<form action="/new_user" id="index_form" method="POST">
		<span>Name:</span>
		<input type="text" name="name" id="new_name">
		<input type="submit" value="Enter">
	</form>
</body>
</html>